.abotus{
    margin-bottom: 4%;
    max-width: 100%;

}
.profileAboutus {
    width: 20%;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.profileAboutus img {
    max-width:60%;
}

.primeraFila, .SegundaFila {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rrss-icon{
    font-size: 24px;
    margin-top: 8%;
    display: flex;
    justify-content:center
}

.rrss-icon i {

    padding-right:15px;
}
H2 {
    margin: 5%
}


@media (max-width:786px) {
    .abotus, .primeraFila, .profileAboutus, .rrss-icon, .SegundaFila, h2{
        width: 100%;
    }
    
}








/*@media screen and(max-width: 600px) {
.aboutus {
    width: 100%;

    }
.profileAboutus{
    width: 100%;
    margin:5%;

    }
.profileAboutus img{
    width: 100%;
    margin:5%;
}
.primeraFila, .SegundaFila{
    justify-content: center;

}
.rrss-icon{
    justify-content: center;
    margin-top: 5%;
}
.rrss-icon i{
    width: 100%;
}
.H2{
    justify-content: center;
    margin: 2%;
}
}
.abotus {
    display:flex;
    flex-direction: column;
}

*/