.home-profiles{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    gap: 2rem; 
    padding-bottom: 3rem;    
}

.home-profiles h3, .sec-intruments h3{
    color: var(--darkblue);
    font-size: 24px;
    font-weight:Bold; 
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.238);
} 

.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    width: 20%;
    gap: 1rem;
}

.container-profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%; 
}

.profile a img{
    width: 40%;
}

.rrss-icon{
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.profile p {
    font-size: 22px;
}

.sec-intruments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 0 6rem 0;
    gap: 3rem;
}

.intru-container{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.option-container{
    background-color: var(--pink);
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3rem;
    gap: 1.5rem;

}
.option-container img{
    width: 100%;
}
.option-container p{
    font-size: 22px;
}

    

.containerEscuela {
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
gap: 2rem;
background-color:lightblue
}

.imageContainer {
flex: 1;
max-width: 100%;
height: auto;
display: block;
margin-left: 20px;
}git

.textContainer {
 display: flex; 
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 padding: 0 20px; 
}

.textContainer h3 {
color: var(--darkblue);
font-size: 24px;
margin-bottom: 20px; 
text-align: center;
margin-top: 0; 
font-size: 24px;
font-weight:Bold; 
text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.238);
}

.textContainer p {
color: var(--black);
font-size: 18px;
line-height: 1.6; 
width: 90%;
text-align: center; 

}


/*estilo del carrusel*/
#carrusel-fotos{
   position: relative;
   padding: 0% 0% 38% 0%;
}

#carousel-container {
    display: flex;
    position: absolute;
    /*z-index: -1;*/
    overflow: hidden;
  }

  #carousel-container img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /*estilo del logo principal*/
.section-carrusel {
    position: absolute;
    display: flex;
    background-color: #fcf9f9d2;
    border-radius: 15px;
    padding: 5% 10% 5% 5%;  
    top:10rem; 
    margin: 0% 0% 0% 15%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.153);
  }
  
.section-carrusel h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
    padding-top: 15px;
  }

 .section-carrusel h2 {
    color: var(--black);
    margin-bottom: 25px;
    padding-left: 58px;
  }



 
