.home-profiles{
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 2rem;
    gap: 2rem;    
}

.home-profiles h3, .sec-intruments h3{
    color: var(--darkblue);
}

.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    width: 20%;
    gap: 1rem;
}

.container-profile{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.profile a img{
    width: 40%;
}

.rrss-icon{
    font-size: 40px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.profile p {
    font-size: 22px;
}

.sec-intruments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 0 6rem 0;
    gap: 3rem;
}

.intru-container{
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.option-container{
    background-color: var(--pink);
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 3rem;
    gap: 1.5rem;
}

.option-container p{
    font-size: 22px;
}

