
.main-container-piano{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
}
.piano-instructions{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    border: 4px dashed var(--yellow);
    border-radius: 15px;
    padding: 2rem;
    gap: 2rem;
}
.piano-instructions h2{
    color: var(--pink);
}

.container-piano{
    width: 90%;
    background-color: #ff77829c;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    border: 4px solid var(--pink);
    flex-wrap: nowrap;
    padding: 2rem 1rem;
    
}

.key .notes{
    display: none;
    color: var(--yellow);
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.btnOptions button{
    background-color: var(--pink);
    border: none;
    color: var(--white);
    width: 70px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: .5rem;
    margin-bottom: 1rem;
}

.dots{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.dots img:first-child{
    width: 35px;
}

.dots img:nth-child(2){
    width: 20px;
}

.piano-wrapper{
   width: 100%;
}
.piano{
    text-align: center;
    margin: auto;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    height: 200px; 
    align-items: center;
    justify-content: center;
    gap: .3rem;
    align-content: center;
}

.key {
    display: inline-flex;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.key .white-key {
    background: var(--lightblue);
    box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
    margin: 0;
    width: 50px;
    height: 150px;
    border-radius: 10px;
}

.key .white-key:active {
    background: var(--pink); 
    box-shadow: 0px 0px 0px rgba(32, 32, 32, 0.2); 
}


.key > span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.key span .letters{
    display: none;
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-wrap: wrap;
}

.key .black-key {
    content: "";
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.4), 0 2px 3px rgba(0, 0, 0, 0.4);
    background: var(--darkblue);
    box-shadow: 0px 5px 1px rgba(32, 32, 32, 0.2);
    border-radius: 10px;
    height: 100px;
    position: absolute;
    top: 0px;
    right: -40%;
    width: 45px;
    z-index: 10;
}

.key .black-key:active {
    background: var(--pink); 
    box-shadow: 0px 0px 0px rgba(32, 32, 32, 0.2); 
}

.key .pressed{
    background: var(--pink); 
    box-shadow: 0px 0px 0px rgba(32, 32, 32, 0.2); 
}

.piano-wrapper p{
    color: var(--pink);
    text-align: end;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-right: 2rem;
}

